n8n/workflows/incident_commander_workflow.json
{
  "name": "AI Incident Commander - Triage",
  "nodes": [
    {
      "parameters": {},
      "id": "11e23f33-728b-497d-944a-10f5451e505n",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 300]
    },
    {
      "parameters": {
        "url": "http://mock-api:8000/alerts",
        "options": {}
      },
      "id": "70d23f33-728b-497d-944a-10f5451e505a",
      "name": "Get Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "filePath": "=/home/node/.n8n-files/logs/{{ $json.service }}.log",
        "options": {}
      },
      "id": "31e23f33-728b-497d-944a-10f5451e505c",
      "name": "Read Logs",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [20, 200]
    },
    {
      "parameters": {
        "filePath": "=/home/node/.n8n-files/runbooks/{{ $node[\"Get Alerts\"].json.service }}.md",
        "options": {}
      },
      "id": "41e23f33-728b-497d-944a-10f5451e505d",
      "name": "Read Runbook",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [20, 400]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "preserveInput": true
        }
      },
      "id": "a1e23f33-728b-497d-944a-10f5451e505i",
      "name": "Extract Log Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "preserveInput": true
        }
      },
      "id": "b1e23f33-728b-497d-944a-10f5451e505j",
      "name": "Extract Runbook Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "d1e23f33-728b-497d-944a-10f5451e505l",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"Analyze this incident:\\n\\nAlert: {{ $('Get Alerts').item.json.message }}\\n\\nLogs:\\n{{ $('Extract Log Text').item.json.text }}\\n\\nRunbook:\\n{{ $('Extract Runbook Text').item.json.text }}\\n\\nProvide severity, root cause, and remediation steps in a clear Markdown format.\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "21e23f33-728b-497d-944a-10f5451e505b",
      "name": "Ollama Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json.response;\nconst service = $('Get Alerts').first().json.service;\nconst alert = $('Get Alerts').first().json.message;\n\n// Create a clean markdown string with real newlines\nconst markdownReport = [\n  `# AI Incident Analysis Report: ${service}`,\n  '',\n  `**Date:** ${new Date().toLocaleString()}`,\n  `**Alert:** ${alert}`,\n  '',\n  '---',\n  '',\n  response,\n  '',\n  '---',\n  '*Report generated by AI Incident Commander.*'\n].join('\\n');\n\n// Convert string to base64 for n8n binary data\nconst base64Content = Buffer.from(markdownReport).toString('base64');\n\nreturn [{\n  json: { \n    fileName: `report_${service}_${Date.now()}.md` \n  },\n  binary: {\n    data: {\n      data: base64Content,\n      mimeType: 'text/markdown',\n      fileName: `report_${service}.md`\n    }\n  }\n}];"
      },
      "id": "e1e23f33-728b-497d-944a-10f5451e505m",
      "name": "Format & Binary Convert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "fileName": "=/home/node/.n8n-files/reports/{{ $json.fileName }}",
        "options": {}
      },
      "id": "91e23f33-728b-497d-944a-10f5451e505h",
      "name": "Save Report",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Get Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Alerts": {
      "main": [
        [
          {
            "node": "Read Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Runbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Logs": {
      "main": [
        [
          {
            "node": "Extract Log Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Log Text": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Runbook": {
      "main": [
        [
          {
            "node": "Extract Runbook Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Runbook Text": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Ollama Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Analysis": {
      "main": [
        [
          {
            "node": "Format & Binary Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format & Binary Convert": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
